# Ignore core files
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
laravel

#Vagrant GIT Apache
!.htaccess
!.gitignore
!/sites/
!Vagrantfile
!manifests
manifests/composer.json
.vagrant

# Ignore sass cache files, mac hidden files, and swap files
.DS_Store
Thumbs.db
.sass-cache
.sass-cache/*
*.swp
